{% extends 'base.html' %}

{% block header %}

  <nav>
    <ul>
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>

      <li>
        <a href="{% url 'category' 'Shoyu' %}">Shoyu Ramen</a>
      </li>

      <li>
        <a href="{% url 'category' 'Miso' %}">Miso Ramen</a>
      </li>

      <li>
        <a href="{% url 'category' 'Tonkotsu' %}">Tonkotsu Ramen</a>
      </li>
      
      <li>
        <a href="{% url 'recently_added' %}">Recently Added</a>
      </li>

      <li>
        <a href="{% url 'top_rated' %}">Top Rated</a>
      </li>
      
    </ul>
  </nav>
{% endblock %}
