{% extends 'base2.html' %}
{% load static %}


{% block title %}
    {{ ramen_type }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'foodie_app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>{{ ramen_type }}</h1>
    </div>

    <ul>
        {% for ramen in ramens %}  
            <li class="category-list-container">
                <img src="{% static 'foodie_app/images/rice_ball.png' %}" alt="Image1">
                <div>
                    <span>{{ ramen.name }} {{ ramen.shop }} {{ ramen.typicalMealTime }} {{ ramen.avgRating }} {{ ramen.numberOfVotes }}</span>
                    <span>{{ ramen.description }}</span>
                </div>
            </li>
        {% empty %}
            <li>No Items found.</li>
        {% endfor %}
    </ul>
{% endblock %}

