{% extends 'base2.html' %}
{% load static %}


{% block title %}
    {{ category }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'foodie_app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>{{ category }}</h1>
    </div>

    <ul>
        {% for ramen in ramen_list %}  
            <li class="category-list-container">
                <img src="{% static ramen.imageUrl %}" alt="Image1">
                <div>
                    <span> Shop: {{ ramen.shop }}, User Avarage Rating: {{ ramen.avgRating }}, Vote Count: {{ ramen.numberOfVotes }}, Typical Meal Time: {{ ramen.typicalMealTime }}</span>
                    <span>{{ ramen.description }}</span>
                </div>
            </li>
        {% empty %}
            <li>No Items found.</li>
        {% endfor %}
    </ul>
{% endblock %}
